.main {
  margin-top: 5em;
}

.center {
  justify-content: center;
  padding: 10px;
}

.ui.search input {
  width: 100%;
  border-radius: 0 !important;
}

.item {
  padding: 15px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.container {
  max-width: 1280px;
}

.container,
.container-fluid {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  font-family: Poppins, sans-serif;
  background: #fff;
  color: #333;
}

.header .container,
.header .container-fluid,
.header .inner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .inner-wrap {
  width: 100%;
}

.header a:not(.btn) {
  color: inherit;
}

.header a:not(.btn):hover {
  color: #f84f29;
}

.header-top,
.header-middle,
.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-left,
.header-center,
.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-right {
  /* margin-left: auto;*/
  margin: 0 auto;
}

.has-center .header-right {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.has-center .header-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.has-center .header-center {
  margin-left: 2rem;
  margin-right: 2rem;
}

.header-top {
  background: #262626;
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: -0.027em;
  padding-top: 8px;
  padding-bottom: 8px;
}

.Content-right {
  text-align: right;
}

.Top-contact img {
  height: 17px;
  padding-right: 5px;
}

.Top-email img {
  height: 17px;
  padding-right: 5px;
}

.Top-contact {
  margin-right: 60px;
}

main.main.bottom-header-bg {
  background: #262626;
  text-align: center;
}

.bottom-header-content {
  color: #fff;
}

.bottom-header-content h3 {
  color: #fff;
  font-weight: 100;
}

.bottom-header-content h1 {
  color: #fff;
}

.header-top .header-right {
  padding-right: 0.2rem;
}

.header-top .header-right>.dropdown:first-child {
  margin-left: 0;
}

.header-top .header-right>.dropdown:hover .dropdown-box::before {
  visibility: visible;
  opacity: 1;
  top: auto;
  bottom: 100%;
}

.header-top .header-right .dropdown-box::before {
  content: "";
  position: absolute;
  z-index: 1002;
  left: 50%;
  top: -9999px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 11px solid transparent;
  border-bottom: 11px solid #fff;
  -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
}

.header-top .header-right a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-top .header-right i {
  margin-right: 0.6rem;
  font-size: 1.5rem;
}

.header-top .header-right>* {
  margin-left: 2rem;
}

.header-top .header-right .delimiter {
  margin: 0 0.3rem;
  color: #aaa;
}

.header-top .header-right .divider {
  width: 1px;
  height: 1.5rem;
  background-color: #ccc;
}

.logo {
  min-width: 14.4rem;
  margin-right: 2rem;
}

.logo img {
  display: block;
}

.header h1 {
  line-height: 0;
  margin-bottom: 0;
}

.header-bottom {
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: -0.025em;
}

.header-bottom .main-nav {
  margin-left: 2.1rem;
}

.header-bottom .header-right {
  padding-right: 0.2rem;
}

.header-bottom .header-right>a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.4rem 0 1.3rem;
}

.header-bottom .header-right>a i {
  vertical-align: middle;
}

.header-bottom .header-right>a i.w-icon-map-marker {
  font-size: 2.2rem;
  margin-top: -0.5rem;
}

.header-bottom .header-right>a i.w-icon-sale {
  font-size: 2.4rem;
  margin-right: 0.8rem;
}

.header-bottom .header-right>a:first-child {
  margin-right: 3.2rem;
}

.header-bottom:not(.fixed) .show-dropdown .dropdown-box {
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
  transform: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  margin-top: 2rem;
}

.welcome-msg {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: -0.022em;
  line-height: 1.5;
  white-space: nowrap;
  padding: 14px 0;
  text-transform: uppercase;
}

.header-middle {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #333;
  background: #fff;
  font-size: 1.2rem;
  border-bottom: 1px solid #eee;
}

.header-middle .header-left {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.header-left .logo img {
  width: 90px;
  margin: 0 auto;
}

.logo img {
  display: block;
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2rem;
}

.account .login {
  font-size: 1.3rem;
  line-height: 1.5em;
  color: #999;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.account .w-icon-account {
  color: white;
  width: 5.3rem;
  height: 5.3rem;
  border: 1px solid rgba(238, 238, 238, 0.5);
  font-size: 2.6rem;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
}

.account span {
  color: #ccc;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.account b {
  color: white;
  font-size: 1.5rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.account:hover .login,
.account:hover span,
.account:hover b {
  color: #336699;
}

.account:hover .w-icon-account {
  color: #336699;
  border-color: #336699;
}

.header-search {
  position: relative;
  width: 100%;
  max-width: 38rem;
}

.header-search input.form-control {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 40px;
  padding: 0.9rem;
  border: 1px solid rgb(0 0 0 / 20%);
  border-right: 0;
  font-size: 1.4rem;
  letter-spacing: 0;
  font-family: Poppins, sans-serif;
}

.header-search input.form-control::-webkit-input-placeholder {
  color: inherit;
}

.header-search input.form-control::-moz-placeholder {
  color: inherit;
}

.header-search input.form-control:-ms-input-placeholder {
  color: inherit;
}

.header-search input.form-control::-ms-input-placeholder {
  color: inherit;
}

.header-search input.form-control::placeholder {
  color: inherit;
}

.header-search .btn-search {
  margin: 0;
  padding: 0;
  min-width: 5.4rem;
  color: #fff;
  border-left: 0;
  border-color: #666666;
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: -0.025em;
  text-transform: none;
  background-color: #f84f29;
  border-width: 0;
}

.header-search .btn-search i {
  font-size: 1.7rem;
  line-height: 1;
  letter-spacing: -0.01em;
  font-weight: 500;
}

.header-search .btn-search:hover,
.header-search .btn-search:active,
.header-search .btn-search:focus {
  color: #336699;
  background-color: transparent;
}

.header-search .select-box::before {
  right: 1.2rem;
  margin-top: -0.1rem;
  font-weight: 400;
}

.header-search .select-box select {
  position: relative;
  padding: 0 2rem 0 1.5rem;
  border: 0;
  font-weight: 400;
  z-index: 1;
}

.header-search.hs-toggle .input-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: -2.5rem;
  top: 100%;
  min-width: 30rem;
  padding: 1.5rem;
  height: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 35px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
  z-index: 100;
  -webkit-transition: visibility 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: visibility 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
  transition: transform 0.3s, visibility 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.header-search.hs-toggle:hover {
  color: #336699;
}

.header-search.hs-toggle .form-control {
  padding: 1.4rem 2rem;
  font-size: 1.3rem;
  color: #777;
  background-color: #f4f4f4;
  border: none;
  height: 5rem;
}

.header-search.hs-toggle .btn-search {
  background-color: #f4f4f4;
  min-width: 5rem;
  font-size: 1.8rem;
  color: #222;
  border: none;
}

.header-search.hs-toggle .btn-search i {
  margin-bottom: 0.3rem;
  font-size: inherit;
}

.header-search.hs-toggle.show .input-wrapper {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.header-search.hs-toggle.show .search-toggle::after {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
}

.header-search.hs-expanded {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 auto;
  min-width: auto;
  max-width: 60rem;
}

.header-search.hs-expanded .select-box {
  width: 14.6rem;
  border: 1px solid rgb(0 0 0 / 20%);
  border-right: none;
  color: #666666;
}

.header-search.hs-expanded .select-box::after {
  content: "";
  height: 35px;
  width: 1px;
  background: #e5e5e5;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-search.hs-expanded input.form-control {
  color: #666;
  border-right: none;
  border-left: none;
}

.header-search.hs-expanded .btn-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: opacity 0.4s, color 0.4s;
  transition: opacity 0.4s, color 0.4s;
}

.header-search.hs-expanded .btn-search i {
  margin: 0;
}

.header-search.hs-expanded .btn-search span {
  margin-right: 0.5rem;
  letter-spacing: -0.03em;
}

.header-search.hs-simple {
  min-width: 35rem;
}

.header-search.hs-simple input.form-control {
  border: none;
  background-color: #f5f5f5;
}

.header-search.hs-simple .btn-search {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 4.5rem;
  background: transparent;
  color: #666;
}

.header-search.hs-rounded .select-box,
.header-search.hs-rounded .form-control {
  border-radius: 0.5rem 0 0 0.5rem;
}

.header-search.hs-rounded .btn-search {
  border-radius: 0 0.5rem 0.5rem 0;
}

.header-search.hs-rounded.hs-simple input.form-control {
  border-radius: 5rem;
}

.header-search.hs-rounded.hs-expanded .form-control {
  border-radius: 0;
}

.header-search.hs-round .select-box,
.header-search.hs-round .form-control {
  border-radius: 3rem 0 0 3rem;
}

.header-search.hs-round .btn-search {
  border-radius: 0 3rem 3rem 0;
}

.header-search.hs-round.hs-simple input.form-control {
  border-radius: 3rem;
}

.header-search.hs-round.hs-expanded .form-control {
  border-radius: 0;
}

.dir-up.hs-toggle .input-wrapper {
  top: auto;
  bottom: 100%;
  margin-bottom: 2rem;
}

.main-nav .menu>.has-submenu {
  padding-right: 1.5rem;
}

.mobile-menu-toggle {
  display: none;
  font-size: 2.4rem;
  line-height: 1;
}

.compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: -0.4rem 3rem 0 0;
  color: #333;
}

.compare span.compare-label {
  cursor: pointer;
  margin-top: 0.1rem;
  font-weight: inherit;
  color: inherit;
}

.compare i {
  font-size: 3.3rem;
  color: inherit;
}

.compare:hover {
  color: #336699;
}

.header-call {
  position: relative;
  margin-right: 4.8rem;
}

.header-call .w-icon-call {
  margin: 0 0.6rem 0.2rem 0;
  font-size: 3rem;
}

.header-call .call-info {
  margin-top: 0.4rem;
}

.header-call .phone-number {
  font-size: 1.6rem;
  line-height: 1.7;
}

.header-call .chat a {
  color: #333;
}

.header-call .chat a:hover {
  color: #336699;
}

.header-call:hover .w-icon-call,
.header-call:hover .phone-number {
  color: #336699;
}

.header-call::after {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -2.5rem;
  width: 1px;
  height: 4.1rem;
  background-color: #e5e5e5;
}


.label-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.label-down i {
  display: inline-block;
}

.label-down span {
  display: block;
}

.label-down i+span {
  margin-top: 0.3rem;
  letter-spacing: -0.03em;
  line-height: 1;
}

.header-border .header-bottom {
  border-bottom: 1px solid #eee;
}

/*-----------------------------------------*/ 
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu a {
  display: inline-block;
  color: inherit;
}

.menu a:hover {
  color: #336699;
}

.menu .menu-title {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.025em;
  text-transform: uppercase;
}

.menu .submenu {
  padding: 2rem 0;
  background: #fff;
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  color: #666666;
}

.menu .submenu .has-submenu>a::after {
  content: "";
  font-weight: 600;
  font-size: 0.9rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu li {
  position: relative;
  line-height: 1;
}

.menu li a {
  padding: 0.7rem 0 0.8rem 0;
}

.menu li ul,
.menu li .megamenu {
  position: absolute;
  top: -9999px;
  left: 100%;
  margin: 0;
  -webkit-box-shadow: 0 2px 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 35px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  visibility: hidden;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}

.menu li .megamenu {
  padding: 0 1rem;
}

.menu li>.submenu {
  min-width: 21.5rem;
}

.menu li>.submenu li {
  padding: 0 1.9rem;
  font-size: 1.3rem;
  color: #333;
  letter-spacing: 0.3px;
  font-weight: 500;
}

.menu li:hover>.submenu,
.menu li:hover .megamenu,
.menu .show>.submenu,
.menu .show .megamenu {
  visibility: visible;
  top: -2rem;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.menu>li {
  margin-right: 7rem;
}

.menu>li:last-child {
  margin-right: 0;
}

.menu>li>a {
  padding: 1.5rem 0 1.9rem 0;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.3px;
  line-height: 1.1;
  text-transform: capitalize;
}

.menu>li>a::after {
  margin-left: 0.6rem;
}

.menu>li>.submenu,
.menu>li .megamenu {
  left: -1.5rem;
}

.menu>li:hover>a:not(.menu-title),
.menu>li.active>a:not(.menu-title) {
  color: #7F00FF;
}

.middle-menu {
  text-align: center;
  margin: 0 auto;
}

.login-button {
  padding-right: 40px;
}

.menu>li:hover>.submenu,
.menu>li:hover .megamenu,
.menu>li.show>.submenu,
.menu>li.show .megamenu {
  top: 100%;
}

.menu .has-submenu>a {
  display: block;
  position: relative;
}

.menu>.has-submenu>a::after {
  margin-top: 1px;
  right: -16px;
}

.menu.no-arrow>li>a::after {
  content: none;
}

.menu .megamenu ul {
  position: static;
  -webkit-box-shadow: none;
  box-shadow: none;
  visibility: visible;
  opacity: 1;
}

.active-underline>li>a::before {
  content: "";
  position: absolute;
  left: 0;
  margin-top: 21px;
  width: 100%;
  border-top: 2px solid;
  border-color: inherit;
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.active-underline>li:hover>a::before,
.active-underline>li.active>a::before {
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.has-submenu>a::after {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  line-height: 0;
  vertical-align: middle;
  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
  color: inherit;
  content: "";
}
/* Mega Menu */
.megamenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 80rem;
  background: #fff;
}

.megamenu>li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 2.7rem 1rem 0;
}

.megamenu>li.row:last-child {
  padding: 0 2rem 2rem 0;
}

.megamenu ul {
  font-size: 1.4rem;
  font-weight: 400;
  color: #666;
  padding: 0;
  letter-spacing: 0;
}

.megamenu ul:last-child {
  margin-bottom: 1rem;
}

.megamenu-sm {
  min-width: 40rem;
}

/* Menu Baner */
.megamenu .menu-banner {
  height: calc(100% + 2.7rem);
  margin: -2.7rem -1rem 0;
  overflow: hidden;
}

.megamenu .menu-banner figure {
  height: 100%;
}

.megamenu .menu-banner img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.megamenu .menu-banner .btn:not(.btn-outline) {
  padding: 0;
  letter-spacing: 0.005em;
}

.menu-banner1 .banner-content {
  left: 10%;
  bottom: 5%;
}

.menu-banner1 .banner-subtitle {
  font-size: 7.187rem;
  letter-spacing: -0.05em;
  -webkit-transform: rotateZ(-90deg) translate(2%, -50%);
  transform: rotateZ(-90deg) translate(2%, -50%);
  margin-bottom: 35px;
}

.menu-banner1 .banner-title {
  position: relative;
  margin-bottom: 1.1rem;
  font-size: 2.4rem;
  letter-spacing: -0.05em;
  line-height: 1.3;
}

.menu-banner1 .banner-title span {
  display: block;
  font-size: 2.6rem;
  color: #547ca5;
}

.menu-banner2 .banner-content {
  top: 8%;
  left: 12.7%;
}

.menu-banner2 .banner-price-info {
  font-weight: 500;
}

.menu-banner2 .banner-title {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1.4rem;
}

.menu-banner3 .banner-content {
  bottom: 2.8rem;
  left: 12.8%;
}

.menu-banner3 .banner-subtitle {
  font-size: 1.6rem;
}

.menu-banner3 .banner-title {
  margin-bottom: 0.1rem;
  font-size: 2.4rem;
  line-height: 1.25;
}

.menu-banner3 .banner-price-info {
  margin-bottom: 2.3rem;
  font-size: 2rem;
}

.menu-banner4 .banner-content {
  top: 6.9%;
  left: 12.7%;
}

.menu-banner4 .banner-subtitle {
  margin-bottom: 1.1rem;
  font-size: 1.4rem;
  color: #ccc;
}

.menu-banner4 .banner-title {
  margin-bottom: 0.3rem;
  font-size: 2.2rem;
  line-height: 1.1;
}

.menu-banner4 .banner-price-info {
  margin-bottom: 1.6rem;
  font-size: 2.2rem;
}

.menu-banner4 .btn-outline {
  padding: 0.75em 1.45em;
  letter-spacing: 0;
}

.menu-banner4 .btn-outline:hover,
.menu-banner4 .btn-outline:active,
.menu-banner4 .btn-outline:focus {
  color: #336699;
  background-color: #fff;
  border-color: #fff;
}

.menu-banner5 .banner-content {
  margin-top: -0.2rem;
  left: 2rem;
}

.menu-banner5 .banner-content.text-right {
  right: 2rem;
}

.menu-banner5 .banner-subtitle {
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
}

.menu-banner5 .banner-title {
  margin-bottom: 1.4rem;
  font-size: 2rem;
}

.menu-banner5 .banner-price-info {
  font-size: 1.3rem;
}

.tip {
  display: inline-block;
  position: relative;
  top: -1px;
  left: 7px;
  padding: 0.3rem 0.5rem 0.2rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}

.tip.tip-new {
  background-color: #336699;
}

.tip.tip-hot {
  background-color: #ff9742;
}

.mobile-menu-wrapper {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2400;
  font-family: Poppins, sans-serif;
  -webkit-transition: visibility 0.4s;
  transition: visibility 0.4s;
}

.mobile-menu-container {
  max-width: 296px;
  padding: 2rem 1.5rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #222;
  -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateX(-296px);
  transform: translateX(-296px);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.mobile-menu-container .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-menu-container .input-wrapper .form-control {
  min-height: 4rem;
  padding-top: 0.9rem;
  padding-bottom: 0.8rem;
  color: #777;
  border: 1px solid;
  border-color: #333;
  border-right: 0;
  background-color: transparent;
  font-size: 1.2rem;
  border-radius: 0.3rem 0 0 0.3rem;
}

.mobile-menu-container .input-wrapper .btn-search {
  padding: 0;
  min-width: 4.8rem;
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  border: 1px solid #333;
  border-left: 0;
  border-radius: 0 0.3rem 0.3rem 0;
}

.mobile-menu-container .input-wrapper .btn-search i {
  margin: 0 0 0.4rem 0;
}

.mobile-menu-container .mobile-menu {
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
  background: #222;
}

.mobile-menu-container .tab-content {
  background-color: transparent;
}

.mobile-menu-container .nav {
  border: none;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.mobile-menu-container .nav .nav-item {
  margin: 0;
  width: 50%;
}

.mobile-menu-container .nav-link {
  margin-bottom: -2px;
  padding: 1rem;
  font-size: 1.3rem;
  color: #fff;
  border-bottom: 2px solid;
}

.mobile-menu-container .nav-item.show .nav-link,
.mobile-menu-container .nav-item .nav-link.active {
  color: #336699;
  border-color: #336699;
}

.mobile-menu-container.scrollable::-webkit-scrollbar-thumb,
.mobile-menu-container .sidebar-content::-webkit-scrollbar-thumb {
  margin-right: 2px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  cursor: pointer;
}

.mobile-menu-container .tab-pane {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
}

.mobile-menu {
  line-height: 1.5;
  color: #eeeeee;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.mobile-menu ul {
  display: none;
  width: 100%;
}

.mobile-menu>li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-menu>li a svg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  stroke: #fff;
  fill: #fff;
  vertical-align: middle;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.mobile-menu>li:hover svg,
.mobile-menu>li.active svg {
  stroke: #f77c29;
  fill: #f77c29;
}

.mobile-menu>li:last-child {
  padding-bottom: 0.5rem;
}

.mobile-menu>li:not(:last-child) {
  border-bottom: 1px solid #2E3237;
}

.mobile-menu li a {
  display: block;
  position: relative;
  padding: 1.3rem 0.6rem 1.3rem 1rem;
  color: inherit;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.mobile-menu li i {
  display: inline-block;
  margin-top: -0.3rem;
  margin-right: 1rem;
  font-size: 1.8rem;
  line-height: 0;
  vertical-align: middle;
}

.mobile-menu li li a {
  padding-left: 2.4rem;
}

.mobile-menu li li li a {
  padding-left: 3.6rem;
}

.mobile-menu li.expanded>a,
.mobile-menu li.show>a,
.mobile-menu li:hover>a {
  color: #336699;
}

.mobile-menu-title {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
}

.mobile-menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.mobile-menu-close {
  position: fixed;
  left: calc(100vw - 35px);
  top: 25px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
  z-index: 1;
}

.mobile-menu-close i {
  font-size: 2.8rem;
  color: #e1e1e1;
}

.mmenu-active {
  overflow: hidden;
}

.mmenu-active .mmenu-anim>li,
.mmenu-active .mmenu-anim {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.mmenu-active .page-wrapper {
  margin-left: 296px;
  margin-right: -296px;
}

.mmenu-active .mobile-menu-wrapper {
  visibility: visible;
}

.mmenu-active .mobile-menu-container {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.mmenu-active .mobile-menu-overlay {
  opacity: 0.5;
}

.mmenu-active .mobile-menu-close {
  opacity: 1;
}

.toggle-btn {
  display: block;
  position: absolute;
  padding: 6px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0.6;
}

.toggle-btn::before {
  content: "";
  display: block;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: "wolmart";
  line-height: 1;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.show>a .toggle-btn::before {
  -webkit-transform: rotate(630deg);
  transform: rotate(630deg);
}
/* Category Menu */
.category-menu {
  padding: 1rem 0;
  background: #fff;
}

.category-menu i {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  margin-right: 0.7rem;
  font-size: 1.7rem;
  width: 1.7rem;
}

.category-menu>li>a {
  display: block;
  padding: 1.3rem 1rem;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.007em;
  color: #666666;
}

.category-menu>li>a::before {
  content: none;
}

.category-menu>li:not(:last-child)>a {
  border-bottom: 1px solid #eeeeee;
}

.category-menu>li:last-child>a i {
  margin: 0 0 0 0.4rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.category-menu li .megamenu {
  padding: 0 0 0 2rem;
}

.category-menu li:last-child {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.category-menu li:hover>a:not(.menu-title) {
  color: #336699;
}

.category-menu li:hover>a:not(.menu-title) i {
  color: inherit;
}

.category-menu>.has-submenu:hover>a::after {
  right: 0.5rem;
}

.category-menu .megamenu {
  min-width: 35rem;
}

.category-menu .megamenu>li:not(:last-child) {
  padding: 2.8rem 2rem 0 0rem;
}

.category-menu .megamenu .menu-title {
  font-size: 1.4rem;
  margin-bottom: 1.3rem;
}

.category-menu .megamenu .divider {
  border: 1px solid #eeeeee;
  border-bottom: 0px;
  margin: 0.5rem 0 2rem;
}

.category-menu .megamenu li a:not(.btn) {
  padding-top: 0.8rem;
}

.category-menu .megamenu.type2 {
  display: block;
}

.category-menu .megamenu.type2 figure {
  text-align: center;
}

/* Vertical Menu */
.vertical-menu {
  display: block;
  min-width: 24rem;
}

.vertical-menu i.w-icon-electronics,
.vertical-menu i.w-icon-furniture {
  font-size: 1.5rem;
  text-align: center;
}

.vertical-menu>li {
  margin-right: 0;
  padding: 0 1rem;
}

.vertical-menu>li>ul,
.vertical-menu>li .megamenu {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}

.vertical-menu>li>a {
  display: block;
}

.vertical-menu>li>a::after {
  content: none;
}

.vertical-menu>li:hover>ul,
.vertical-menu>li:hover .megamenu,
.vertical-menu>li.active>ul,
.vertical-menu>li.active .megamenu {
  left: 100%;
  top: 0rem;
}

.vertical-menu>li:first-child:hover>ul,
.vertical-menu>li:first-child:hover .megamenu,
.vertical-menu>li:first-child.active>ul,
.vertical-menu>li:first-child.active .megamenu {
  top: -1rem;
}

.vertical-menu>.has-submenu>a::after {
  content: "";
  position: absolute;
  right: 1rem;
  line-height: 0;
  font-weight: 600;
  font-size: 1.2rem;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}

/* Horizontal Menu */
.horizontal-menu {
  width: 100%;
  padding: 1rem 3.2rem;
  background-color: #333;
  border-radius: 0.5rem;
  color: #fff;
  overflow-x: auto;
}

.horizontal-menu>li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 3.05rem;
  text-align: center;
}

.horizontal-menu>li:not(:last-child)>a {
  border-bottom: none;
}

.horizontal-menu>li>a {
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0;
}

.horizontal-menu>li:hover i {
  -webkit-transform: translateY(-0.5rem);
  transform: translateY(-0.5rem);
}

.horizontal-menu>li:last-child>a i {
  margin: 0 0 0.9rem;
  font-size: 3rem;
  font-weight: 400;
}

.horizontal-menu i {
  display: block;
  width: auto;
  height: 3rem;
  margin: 0 0 0.9rem;
  font-size: 3rem;
  line-height: inherit;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.horizontal-menu::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.horizontal-menu::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

@media (min-width: 1200px) {
  .category-menu .megamenu.type2 {
      min-width: 88rem;
  }
}

@media (max-width: 1199px) {
  .main-nav .menu .megamenu {
      left: -18rem;
  }

  .category-menu .megamenu.type2 {
      min-width: 70rem;
  }
}

.login-button {
  padding-right: 40px;
}
.btn-warning {
  color: #fff;
  border-color: #FFBF00;
  background-color: #FFBF00;
  border-radius: 20px;
}
.btn {
  display: inline-block;
  border: 2px solid #ccc;
  background-color: #fff;
  color: #666;
  outline: 0;
  border-radius: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 0.8em 1em;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: color 0.3s, border-color 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  white-space: nowrap;
  cursor: pointer;
}
input, .btn {
  margin: 0;
}

/*----------------------------------------
    Spacing
-----------------------------------------*/
.mt-0 {
  margin-top: 0rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.pt-0 {
  padding-top: 0rem !important;
}

.pb-0 {
  padding-bottom: 0rem !important;
}

.mt-1 {
  margin-top: 0.5rem !important;
}

.mb-1 {
  margin-bottom: 0.5rem !important;
}

.pt-1 {
  padding-top: 0.5rem !important;
}

.pb-1 {
  padding-bottom: 0.5rem !important;
}

.mt-2 {
  margin-top: 1rem !important;
}

.mb-2 {
  margin-bottom: 1rem !important;
}

.pt-2 {
  padding-top: 1rem !important;
}

.pb-2 {
  padding-bottom: 1rem !important;
}

.mt-3 {
  margin-top: 1.5rem !important;
}

.mb-3 {
  margin-bottom: 1.5rem !important;
}

.pt-3 {
  padding-top: 1.5rem !important;
}

.pb-3 {
  padding-bottom: 1.5rem !important;
}

.mt-4 {
  margin-top: 2rem !important;
}

.mb-4 {
  margin-bottom: 2rem !important;
}

.pt-4 {
  padding-top: 2rem !important;
}

.pb-4 {
  padding-bottom: 2rem !important;
}

.mt-5 {
  margin-top: 2.5rem !important;
}

.mb-5 {
  margin-bottom: 2.5rem !important;
}

.pt-5 {
  padding-top: 2.5rem !important;
}

.pb-5 {
  padding-bottom: 2.5rem !important;
}

.mt-6 {
  margin-top: 3rem !important;
}

.mb-6 {
  margin-bottom: 3rem !important;
}

.pt-6 {
  padding-top: 3rem !important;
}

.pb-6 {
  padding-bottom: 3rem !important;
}

.mt-7 {
  margin-top: 3.5rem !important;
}

.mb-7 {
  margin-bottom: 3.5rem !important;
}

.pt-7 {
  padding-top: 3.5rem !important;
}

.pb-7 {
  padding-bottom: 3.5rem !important;
}

.mt-8 {
  margin-top: 4rem !important;
}

.mb-8 {
  margin-bottom: 4rem !important;
}

.pt-8 {
  padding-top: 4rem !important;
}

.pb-8 {
  padding-bottom: 4rem !important;
}

.mt-9 {
  margin-top: 4.5rem !important;
}

.mb-9 {
  margin-bottom: 4.5rem !important;
}

.pt-9 {
  padding-top: 4.5rem !important;
}

.pb-9 {
  padding-bottom: 4.5rem !important;
}

.mt-10 {
  margin-top: 5rem !important;
}

.mb-10 {
  margin-bottom: 5rem !important;
}

.pt-10 {
  padding-top: 5rem !important;
}

.pb-10 {
  padding-bottom: 5rem !important;
}

.ml-0 {
  margin-left: 0rem !important;
}

.mr-0 {
  margin-right: 0rem !important;
}

.pl-0 {
  padding-left: 0rem !important;
}

.pr-0 {
  padding-right: 0rem !important;
}

.ml-1 {
  margin-left: 0.5rem !important;
}

.mr-1 {
  margin-right: 0.5rem !important;
}

.pl-1 {
  padding-left: 0.5rem !important;
}

.pr-1 {
  padding-right: 0.5rem !important;
}

.ml-2 {
  margin-left: 1rem !important;
}

.mr-2 {
  margin-right: 1rem !important;
}

.pl-2 {
  padding-left: 1rem !important;
}

.pr-2 {
  padding-right: 1rem !important;
}

.ml-3 {
  margin-left: 1.5rem !important;
}

.mr-3 {
  margin-right: 1.5rem !important;
}

.pl-3 {
  padding-left: 1.5rem !important;
}

.pr-3 {
  padding-right: 1.5rem !important;
}

.ml-4 {
  margin-left: 2rem !important;
}

.mr-4 {
  margin-right: 2rem !important;
}

.pl-4 {
  padding-left: 2rem !important;
}

.pr-4 {
  padding-right: 2rem !important;
}

.ml-5 {
  margin-left: 2.5rem !important;
}

.mr-5 {
  margin-right: 2.5rem !important;
}

.pl-5 {
  padding-left: 2.5rem !important;
}

.pr-5 {
  padding-right: 2.5rem !important;
}

.ml-6 {
  margin-left: 3rem !important;
}

.mr-6 {
  margin-right: 3rem !important;
}

.pl-6 {
  padding-left: 3rem !important;
}

.pr-6 {
  padding-right: 3rem !important;
}

.ml-7 {
  margin-left: 3.5rem !important;
}

.mr-7 {
  margin-right: 3.5rem !important;
}

.pl-7 {
  padding-left: 3.5rem !important;
}

.pr-7 {
  padding-right: 3.5rem !important;
}

.ml-8 {
  margin-left: 4rem !important;
}

.mr-8 {
  margin-right: 4rem !important;
}

.pl-8 {
  padding-left: 4rem !important;
}

.pr-8 {
  padding-right: 4rem !important;
}

.ml-9 {
  margin-left: 4.5rem !important;
}

.mr-9 {
  margin-right: 4.5rem !important;
}

.pl-9 {
  padding-left: 4.5rem !important;
}

.pr-9 {
  padding-right: 4.5rem !important;
}

.ml-10 {
  margin-left: 5rem !important;
}

.mr-10 {
  margin-right: 5rem !important;
}

.pl-10 {
  padding-left: 5rem !important;
}

.pr-10 {
  padding-right: 5rem !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

@media (min-width: 576px) {
  .mt-sm-0 {
      margin-top: 0rem !important;
  }

  .mt-sm-1 {
      margin-top: 0.5rem !important;
  }

  .mt-sm-2 {
      margin-top: 1rem !important;
  }

  .mt-sm-3 {
      margin-top: 1.5rem !important;
  }

  .mt-sm-4 {
      margin-top: 2rem !important;
  }

  .mt-sm-5 {
      margin-top: 2.5rem !important;
  }

  .mt-sm-6 {
      margin-top: 3rem !important;
  }

  .mt-sm-7 {
      margin-top: 3.5rem !important;
  }

  .mt-sm-8 {
      margin-top: 4rem !important;
  }

  .mt-sm-9 {
      margin-top: 4.5rem !important;
  }

  .mt-sm-10 {
      margin-top: 5rem !important;
  }

  .mb-sm-0 {
      margin-bottom: 0rem !important;
  }

  .mb-sm-1 {
      margin-bottom: 0.5rem !important;
  }

  .mb-sm-2 {
      margin-bottom: 1rem !important;
  }

  .mb-sm-3 {
      margin-bottom: 1.5rem !important;
  }

  .mb-sm-4 {
      margin-bottom: 2rem !important;
  }

  .mb-sm-5 {
      margin-bottom: 2.5rem !important;
  }

  .mb-sm-6 {
      margin-bottom: 3rem !important;
  }

  .mb-sm-7 {
      margin-bottom: 3.5rem !important;
  }

  .mb-sm-8 {
      margin-bottom: 4rem !important;
  }

  .mb-sm-9 {
      margin-bottom: 4.5rem !important;
  }

  .mb-sm-10 {
      margin-bottom: 5rem !important;
  }

  .pt-sm-0 {
      padding-top: 0rem !important;
  }

  .pt-sm-1 {
      padding-top: 0.5rem !important;
  }

  .pt-sm-2 {
      padding-top: 1rem !important;
  }

  .pt-sm-3 {
      padding-top: 1.5rem !important;
  }

  .pt-sm-4 {
      padding-top: 2rem !important;
  }

  .pt-sm-5 {
      padding-top: 2.5rem !important;
  }

  .pt-sm-6 {
      padding-top: 3rem !important;
  }

  .pt-sm-7 {
      padding-top: 3.5rem !important;
  }

  .pt-sm-8 {
      padding-top: 4rem !important;
  }

  .pt-sm-9 {
      padding-top: 4.5rem !important;
  }

  .pt-sm-10 {
      padding-top: 5rem !important;
  }

  .pb-sm-0 {
      padding-bottom: 0rem !important;
  }

  .pb-sm-1 {
      padding-bottom: 0.5rem !important;
  }

  .pb-sm-2 {
      padding-bottom: 1rem !important;
  }

  .pb-sm-3 {
      padding-bottom: 1.5rem !important;
  }

  .pb-sm-4 {
      padding-bottom: 2rem !important;
  }

  .pb-sm-5 {
      padding-bottom: 2.5rem !important;
  }

  .pb-sm-6 {
      padding-bottom: 3rem !important;
  }

  .pb-sm-7 {
      padding-bottom: 3.5rem !important;
  }

  .pb-sm-8 {
      padding-bottom: 4rem !important;
  }

  .pb-sm-9 {
      padding-bottom: 4.5rem !important;
  }

  .pb-sm-10 {
      padding-bottom: 5rem !important;
  }
}

@media (min-width: 768px) {
  .mt-md-0 {
      margin-top: 0rem !important;
  }

  .mt-md-1 {
      margin-top: 0.5rem !important;
  }

  .mt-md-2 {
      margin-top: 1rem !important;
  }

  .mt-md-3 {
      margin-top: 1.5rem !important;
  }

  .mt-md-4 {
      margin-top: 2rem !important;
  }

  .mt-md-5 {
      margin-top: 2.5rem !important;
  }

  .mt-md-6 {
      margin-top: 3rem !important;
  }

  .mt-md-7 {
      margin-top: 3.5rem !important;
  }

  .mt-md-8 {
      margin-top: 4rem !important;
  }

  .mt-md-9 {
      margin-top: 4.5rem !important;
  }

  .mt-md-10 {
      margin-top: 5rem !important;
  }

  .mb-md-0 {
      margin-bottom: 0rem !important;
  }

  .mb-md-1 {
      margin-bottom: 0.5rem !important;
  }

  .mb-md-2 {
      margin-bottom: 1rem !important;
  }

  .mb-md-3 {
      margin-bottom: 1.5rem !important;
  }

  .mb-md-4 {
      margin-bottom: 2rem !important;
  }

  .mb-md-5 {
      margin-bottom: 2.5rem !important;
  }

  .mb-md-6 {
      margin-bottom: 3rem !important;
  }

  .mb-md-7 {
      margin-bottom: 3.5rem !important;
  }

  .mb-md-8 {
      margin-bottom: 4rem !important;
  }

  .mb-md-9 {
      margin-bottom: 4.5rem !important;
  }

  .mb-md-10 {
      margin-bottom: 5rem !important;
  }

  .pt-md-0 {
      padding-top: 0rem !important;
  }

  .pt-md-1 {
      padding-top: 0.5rem !important;
  }

  .pt-md-2 {
      padding-top: 1rem !important;
  }

  .pt-md-3 {
      padding-top: 1.5rem !important;
  }

  .pt-md-4 {
      padding-top: 2rem !important;
  }

  .pt-md-5 {
      padding-top: 2.5rem !important;
  }

  .pt-md-6 {
      padding-top: 3rem !important;
  }

  .pt-md-7 {
      padding-top: 3.5rem !important;
  }

  .pt-md-8 {
      padding-top: 4rem !important;
  }

  .pt-md-9 {
      padding-top: 4.5rem !important;
  }

  .pt-md-10 {
      padding-top: 5rem !important;
  }

  .pb-md-0 {
      padding-bottom: 0rem !important;
  }

  .pb-md-1 {
      padding-bottom: 0.5rem !important;
  }

  .pb-md-2 {
      padding-bottom: 1rem !important;
  }

  .pb-md-3 {
      padding-bottom: 1.5rem !important;
  }

  .pb-md-4 {
      padding-bottom: 2rem !important;
  }

  .pb-md-5 {
      padding-bottom: 2.5rem !important;
  }

  .pb-md-6 {
      padding-bottom: 3rem !important;
  }

  .pb-md-7 {
      padding-bottom: 3.5rem !important;
  }

  .pb-md-8 {
      padding-bottom: 4rem !important;
  }

  .pb-md-9 {
      padding-bottom: 4.5rem !important;
  }

  .pb-md-10 {
      padding-bottom: 5rem !important;
  }
}

@media (min-width: 992px) {
  .mt-lg-0 {
      margin-top: 0rem !important;
  }

  .mt-lg-1 {
      margin-top: 0.5rem !important;
  }

  .mt-lg-2 {
      margin-top: 1rem !important;
  }

  .mt-lg-3 {
      margin-top: 1.5rem !important;
  }

  .mt-lg-4 {
      margin-top: 2rem !important;
  }

  .mt-lg-5 {
      margin-top: 2.5rem !important;
  }

  .mt-lg-6 {
      margin-top: 3rem !important;
  }

  .mt-lg-7 {
      margin-top: 3.5rem !important;
  }

  .mt-lg-8 {
      margin-top: 4rem !important;
  }

  .mt-lg-9 {
      margin-top: 4.5rem !important;
  }

  .mt-lg-10 {
      margin-top: 5rem !important;
  }

  .mb-lg-0 {
      margin-bottom: 0rem !important;
  }

  .mb-lg-1 {
      margin-bottom: 0.5rem !important;
  }

  .mb-lg-2 {
      margin-bottom: 1rem !important;
  }

  .mb-lg-3 {
      margin-bottom: 1.5rem !important;
  }

  .mb-lg-4 {
      margin-bottom: 2rem !important;
  }

  .mb-lg-5 {
      margin-bottom: 2.5rem !important;
  }

  .mb-lg-6 {
      margin-bottom: 3rem !important;
  }

  .mb-lg-7 {
      margin-bottom: 3.5rem !important;
  }

  .mb-lg-8 {
      margin-bottom: 4rem !important;
  }

  .mb-lg-9 {
      margin-bottom: 4.5rem !important;
  }

  .mb-lg-10 {
      margin-bottom: 5rem !important;
  }

  .pt-lg-0 {
      padding-top: 0rem !important;
  }

  .pt-lg-1 {
      padding-top: 0.5rem !important;
  }

  .pt-lg-2 {
      padding-top: 1rem !important;
  }

  .pt-lg-3 {
      padding-top: 1.5rem !important;
  }

  .pt-lg-4 {
      padding-top: 2rem !important;
  }

  .pt-lg-5 {
      padding-top: 2.5rem !important;
  }

  .pt-lg-6 {
      padding-top: 3rem !important;
  }

  .pt-lg-7 {
      padding-top: 3.5rem !important;
  }

  .pt-lg-8 {
      padding-top: 4rem !important;
  }

  .pt-lg-9 {
      padding-top: 4.5rem !important;
  }

  .pt-lg-10 {
      padding-top: 5rem !important;
  }

  .pb-lg-0 {
      padding-bottom: 0rem !important;
  }

  .pb-lg-1 {
      padding-bottom: 0.5rem !important;
  }

  .pb-lg-2 {
      padding-bottom: 1rem !important;
  }

  .pb-lg-3 {
      padding-bottom: 1.5rem !important;
  }

  .pb-lg-4 {
      padding-bottom: 2rem !important;
  }

  .pb-lg-5 {
      padding-bottom: 2.5rem !important;
  }

  .pb-lg-6 {
      padding-bottom: 3rem !important;
  }

  .pb-lg-7 {
      padding-bottom: 3.5rem !important;
  }

  .pb-lg-8 {
      padding-bottom: 4rem !important;
  }

  .pb-lg-9 {
      padding-bottom: 4.5rem !important;
  }

  .pb-lg-10 {
      padding-bottom: 5rem !important;
  }

  .ml-lg-0 {
      margin-left: 0rem !important;
  }

  .mr-lg-0 {
      margin-right: 0rem !important;
  }

  .pl-lg-0 {
      padding-left: 0rem !important;
  }

  .pr-lg-0 {
      padding-right: 0rem !important;
  }

  .ml-lg-1 {
      margin-left: 0.5rem !important;
  }

  .mr-lg-1 {
      margin-right: 0.5rem !important;
  }

  .pl-lg-1 {
      padding-left: 0.5rem !important;
  }

  .pr-lg-1 {
      padding-right: 0.5rem !important;
  }

  .ml-lg-2 {
      margin-left: 1rem !important;
  }

  .mr-lg-2 {
      margin-right: 1rem !important;
  }

  .pl-lg-2 {
      padding-left: 1rem !important;
  }

  .pr-lg-2 {
      padding-right: 1rem !important;
  }

  .ml-lg-3 {
      margin-left: 1.5rem !important;
  }

  .mr-lg-3 {
      margin-right: 1.5rem !important;
  }

  .pl-lg-3 {
      padding-left: 1.5rem !important;
  }

  .pr-lg-3 {
      padding-right: 1.5rem !important;
  }

  .ml-lg-4 {
      margin-left: 2rem !important;
  }

  .mr-lg-4 {
      margin-right: 2rem !important;
  }

  .pl-lg-4 {
      padding-left: 2rem !important;
  }

  .pr-lg-4 {
      padding-right: 2rem !important;
  }

  .ml-lg-5 {
      margin-left: 2.5rem !important;
  }

  .mr-lg-5 {
      margin-right: 2.5rem !important;
  }

  .pl-lg-5 {
      padding-left: 2.5rem !important;
  }

  .pr-lg-5 {
      padding-right: 2.5rem !important;
  }

  .ml-lg-6 {
      margin-left: 3rem !important;
  }

  .mr-lg-6 {
      margin-right: 3rem !important;
  }

  .pl-lg-6 {
      padding-left: 3rem !important;
  }

  .pr-lg-6 {
      padding-right: 3rem !important;
  }

  .ml-lg-7 {
      margin-left: 3.5rem !important;
  }

  .mr-lg-7 {
      margin-right: 3.5rem !important;
  }

  .pl-lg-7 {
      padding-left: 3.5rem !important;
  }

  .pr-lg-7 {
      padding-right: 3.5rem !important;
  }

  .ml-lg-8 {
      margin-left: 4rem !important;
  }

  .mr-lg-8 {
      margin-right: 4rem !important;
  }

  .pl-lg-8 {
      padding-left: 4rem !important;
  }

  .pr-lg-8 {
      padding-right: 4rem !important;
  }

  .ml-lg-9 {
      margin-left: 4.5rem !important;
  }

  .mr-lg-9 {
      margin-right: 4.5rem !important;
  }

  .pl-lg-9 {
      padding-left: 4.5rem !important;
  }

  .pr-lg-9 {
      padding-right: 4.5rem !important;
  }

  .ml-lg-10 {
      margin-left: 5rem !important;
  }

  .mr-lg-10 {
      margin-right: 5rem !important;
  }

  .pl-lg-10 {
      padding-left: 5rem !important;
  }

  .pr-lg-10 {
      padding-right: 5rem !important;
  }
}

@media (min-width: 1200px) {
  .mt-xl-0 {
      margin-top: 0rem !important;
  }

  .mt-xl-1 {
      margin-top: 0.5rem !important;
  }

  .mt-xl-2 {
      margin-top: 1rem !important;
  }

  .mt-xl-3 {
      margin-top: 1.5rem !important;
  }

  .mt-xl-4 {
      margin-top: 2rem !important;
  }

  .mt-xl-5 {
      margin-top: 2.5rem !important;
  }

  .mt-xl-6 {
      margin-top: 3rem !important;
  }

  .mt-xl-7 {
      margin-top: 3.5rem !important;
  }

  .mt-xl-8 {
      margin-top: 4rem !important;
  }

  .mt-xl-9 {
      margin-top: 4.5rem !important;
  }

  .mt-xl-10 {
      margin-top: 5rem !important;
  }

  .mb-xl-0 {
      margin-bottom: 0rem !important;
  }

  .mb-xl-1 {
      margin-bottom: 0.5rem !important;
  }

  .mb-xl-2 {
      margin-bottom: 1rem !important;
  }

  .mb-xl-3 {
      margin-bottom: 1.5rem !important;
  }

  .mb-xl-4 {
      margin-bottom: 2rem !important;
  }

  .mb-xl-5 {
      margin-bottom: 2.5rem !important;
  }

  .mb-xl-6 {
      margin-bottom: 3rem !important;
  }

  .mb-xl-7 {
      margin-bottom: 3.5rem !important;
  }

  .mb-xl-8 {
      margin-bottom: 4rem !important;
  }

  .mb-xl-9 {
      margin-bottom: 4.5rem !important;
  }

  .mb-xl-10 {
      margin-bottom: 5rem !important;
  }
}

@media (min-width: 992px) {
  .ml-lg-auto {
      margin-left: auto !important;
  }

  .mr-lg-auto {
      margin-right: auto !important;
  }

  .mx-lg-auto {
      margin-left: auto !important;
      margin-right: auto !important;
  }
}